* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.initial-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.initial-page h1 {
  font-size: 5rem;
  color: #293264;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
  user-select: none;
}

.header a {
  font-size: 5rem;
  color: #293264;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  margin-bottom: 30px;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.inputs div label {
  display: block;
  margin-bottom: 3px;
  color: #293264;
}

.inputs div select {
  width: 101%;
  height: 30px;
  padding: 5px;
  color: #F5F7FB;
  outline: none;
  border: none;
  background-color: #4D5B9E;
  font-size: 0.875rem;
}

.inputs div select::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

.inputs div select::-webkit-scrollbar-track {
  border: rgb(180, 180, 180);
  background-color: rgb(180, 180, 180);
}

.inputs div select::-webkit-scrollbar-thumb {
  background-color: #293264;
}

.start-btn {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  color: #F5F7FB;
  background-color: #4D5B9E;
  border-radius: 15px;
  border: none;
  padding: 15px 50px;
}

.start-btn:hover {
  font-size: 1.4rem;
}

.quiz-container {
  max-width: 900px;
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.question h2 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #293264;
}

.question ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 1100px) {
  .question ul {
    display: grid;
    justify-content: center;
  }
}

.option {
  font-family: 'Inter', sans-serif;
  font-size: 0.80rem;
  font-weight: 600;
  padding: 10px;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #293264;
  border: 1px solid #4D5B9E;
  border-radius: 10px;
  cursor: pointer;
}

.question ul li input {
  display: none;
}

.question ul li input:checked + label {
  background: #D6DBF5;
  border: none;
}

.question::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #DBDEF0;
  margin: 30px 0;
}

.quiz-btn {
  font-size: 0.875rem;
  color: #F5F7FB;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: #4D5B9E;
  border-radius: 15px;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
}

.result-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.result-container p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #293264;
}